USE [master]
GO
/****** Objeto: Database [GestionLimpieza] Fecha de script: 24/5/2026 07:52:51 ******/
CREATE DATABASE [GestionLimpieza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionLimpieza', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestionLimpieza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionLimpieza_log', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestionLimpieza_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionLimpieza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionLimpieza]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 24/5/2026 07:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [nchar](100) NOT NULL,
	[cuit] [nchar](100) NOT NULL,
	[rubro] [nchar](100) NOT NULL,
	[descuentos] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cliente_Servicio] Fecha de script: 24/5/2026 07:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente_Servicio](
	[codigo_cliente] [int] NOT NULL,
	[codigo_servicio] [int] NOT NULL,
	[estado] [nchar](100) NULL,
	[descuentos] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cuadrilla] Fecha de script: 24/5/2026 07:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuadrilla](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_supervisor] [nchar](100) NOT NULL,
	[turno_trabajo] [nchar](100) NOT NULL,
	[cantidad_operarios] [int] NOT NULL,
 CONSTRAINT [PK_Cuadrilla] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Servicio] Fecha de script: 24/5/2026 07:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](100) NOT NULL,
	[abono] [nchar](10) NOT NULL,
	[precio_base] [decimal](18, 2) NOT NULL,
	[codigo_cuadrilla] [int] NOT NULL,
	[quimico] [nchar](100) NULL,
	[altura_maxima] [int] NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
